# Analyzing Unicorn Companies

## Introduction
You have been asked to support an investment firm by analyzing trends in high-growth companies.

You have been given access to their `unicorns` database, which contains the following tables:

### `dates`
| Column       | Description                                  |
|------------- |--------------------------------------------- |
| company_id   | A unique ID for the company.                 |
| date_joined  | The date that the company became a unicorn.  |
| year_founded | The year that the company was founded.       |

### `funding`
| Column           | Description                                  |
|----------------- |--------------------------------------------- |
| company_id       | A unique ID for the company.                 |
| valuation        | Company value in US dollars.                 |
| funding          | The amount of funding raised in US dollars.  |
| select_investors | A list of key investors in the company.      |

### `industries`
| Column       | Description                                  |
|------------- |--------------------------------------------- |
| company_id   | A unique ID for the company.                 |
| industry     | The industry that the company operates in.   |

### `companies`
| Column       | Description                                       |
|------------- |-------------------------------------------------- |
| company_id   | A unique ID for the company.                      |
| company      | The name of the company.                          |
| city         | The city where the company is headquartered.      |
| country      | The country where the company is headquartered.   |
| continent    | The continent where the company is headquartered. |


Your task is to first identify the three best-performing industries based on the number of new unicorns created over the last three years (2019, 2020, and 2021) combined.

From there, you will write a query to return the industry, the year, the number of companies in these industries that became unicorns each year in 2019, 2020, and 2021, along with the average valuation per industry per year, converted to billions of dollars and rounded to two decimal places!

As the firm is interested in trends for the top-performing industries, your results should be displayed by industry, then year in descending order.

In [1]:
SELECT industry, 
       EXTRACT(year FROM date_joined) AS year, 
       COUNT(d.company_id) AS num_unicorns, 
       ROUND(AVG(valuation) / 1000000000, 2) AS average_valuation_billions
FROM industries AS i
     INNER JOIN dates AS d
     ON i.company_id = d.company_id
     INNER JOIN funding AS f
     ON d.company_id = f.company_id
WHERE EXTRACT(year FROM date_joined) IN (2019, 2020, 2021)
      AND industry IN (SELECT industry
                       FROM industries AS i
                            INNER JOIN dates AS d
                            ON i.company_id = d.company_id
                       WHERE EXTRACT(year FROM date_joined) IN (2019, 2020, 2021)
                       GROUP BY industry
                       ORDER BY COUNT(d.company_id) DESC
                       LIMIT 3)
GROUP BY industry, year
ORDER BY industry, year DESC;

                          industry  ...  average_valuation_billions
0  E-commerce & direct-to-consumer  ...                        2.47
1  E-commerce & direct-to-consumer  ...                        4.00
2  E-commerce & direct-to-consumer  ...                        2.58
3                          Fintech  ...                        2.75
4                          Fintech  ...                        4.33
5                          Fintech  ...                        6.80
6     Internet software & services  ...                        2.15
7     Internet software & services  ...                        4.35
8     Internet software & services  ...                        4.23

[9 rows x 4 columns]